<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/14673889-5b9f-4841-8aa4-22875b0bc955/resourcegroups/KaraokeApp/providers/Microsoft.Web/sites/KaraokeApp</ResourceId>
    <ResourceGroup>KaraokeApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://karaokeapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>karaokeapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KaraokeApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KaraokeApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:karaokeappdbserver.database.windows.net,1433;Initial Catalog=KaraokeApp_db;User ID=fayjusss@karaokeappdbserver;Password=FsSGsC1010962726" Name="Data Source=tcp:karaokeappdbserver.database.windows.net,1433;Initial Catalog=KaraokeApp_db;User Id=fayjusss@karaokeappdbserver;Password=FsSGsC1010962726" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KaraokeApp.DAL.PlaylistContext, KaraokeApp" MigrationConfiguration="KaraokeApp.Migrations.Configuration, KaraokeApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:karaokeappdbserver.database.windows.net,1433;Initial Catalog=KaraokeApp_db;User Id=fayjusss@karaokeappdbserver;Password=FsSGsC1010962726</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>