@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Karaoke App</h1>
    <p class="lead">This is a web application for Karaoke Enthusiast People to track their songs have fun!!</p>
</div>
